---
import { Image } from "astro:assets";
import onlineMeeting from "../../assets/supports-section/online_meeting.png";
import meeting from "../../assets/supports-section/meeting.png";
import discovery from "../../assets/supports-section/discovery.png";
---

<div class="wrapper">
  <div class="support">
    <div class="rectangle">
      <div class="rectangle-text">
        サポート<br />
        <span>01</span>
      </div>
    </div>
    <Image src={onlineMeeting} alt="" class="circle-image" />
    <h3 class="title">
      <span class="small"> あなたを知る </span><br />
      キャリア
      <br />
      カウンセリング
    </h3>
    <p class="description">
      「何がしたいか分からない」という状態からでも大丈夫です。
      <br />
      <span class="text-yellow">
        あなたの強みや価値観を一緒に見つけ出し、キャリアの軸を明確に
      </span>
      していきます。
    </p>
  </div>
  <div class="support">
    <div class="rectangle">
      <div class="rectangle-text">
        サポート<br />
        <span>02</span>
      </div>
    </div>
    <Image src={meeting} alt="" class="circle-image" />
    <h3 class="title">
      <span class="small"> ミスマッチを防ぐ </span><br />
      企業紹介
    </h3>
    <p class="description">
      求人票には載っていない、
      <span class="text-yellow">
        リアルな社風や働きがいまで正直にお伝えします。
      </span>
      <br />
      私たちは、みなさんの未来を考えない"利益優先の紹介"は一切行いません。
    </p>
  </div>
  <div class="support">
    <div class="rectangle">
      <div class="rectangle-text">
        サポート<br />
        <span>03</span>
      </div>
    </div>
    <Image src={discovery} alt="" class="circle-image" />
    <h3 class="title">
      <span class="small"> 内定を引き寄せる </span><br />
      選考対策
    </h3>
    <p class="description">
      自己PRやガクチカのブラッシュアップから、企業ごとの模擬面接まで。<br />
      <span class="text-yellow">
        あなたの魅力を最大限に引き出すための実践的な対策で、内定獲得を力強く後押し
      </span>
      します。
    </p>
  </div>
</div>
<style>
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    max-width: 1600px;
    gap: 7rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1024px) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 3.3rem;
    }
  }

  .support {
    display: grid;
    position: relative;
    place-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow:
      0 0 3px white,
      0 0 10px rgba(32, 166, 169, 0.8),
      0 0 15px rgba(32, 166, 169, 0.5);
    padding: 1.5rem 1.5rem;
  }

  @media (min-width: 1024px) {
    .support {
      padding: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .support {
      padding: 1.5rem;
    }
  }

  .rectangle {
    position: absolute;
    top: -2.8rem;
    text-align: center;
    background-color: #1daaab;
    padding: 0.8rem 0.8rem;
    outline: 3px solid #1daaab;
    outline-offset: 3px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rectangle-text {
    transform: rotate(-45deg);

    span {
      font-size: 2.3rem;
      line-height: 1;
    }
  }

  .circle-image {
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  @media (min-width: 1280px) {
    .circle-image {
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: 1440px) {
    .circle-image {
      width: 250px;
      height: 250px;
    }
  }

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 1.5rem 0;
    text-shadow:
      0 0 10px rgba(24, 138, 143, 0.85),
      0 0 20px rgba(24, 138, 143, 0.85),
      0 0 30px rgba(24, 138, 143, 0.85);
  }

  @media (min-width: 1024px) {
    .title {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 1280px) {
    .title {
      font-size: 1.8rem;
    }
  }

  @media (min-width: 1440px) {
    .title {
      font-size: 2.2rem;
    }
  }

  .small {
    font-size: 1.3rem;
    line-height: 2;
  }

  @media (min-width: 1024px) {
    .small {
      font-size: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .small {
      font-size: 1.3rem;
    }
  }

  @media (min-width: 1440px) {
    .small {
      font-size: 1.5rem;
    }
  }

  .description {
    font-size: 1.3rem;
    line-height: 1.7;
  }

  @media (min-width: 1024px) {
    .description {
      font-size: 0.95rem;
    }
  }

  @media (min-width: 1280px) {
    .description {
      font-size: 1.15rem;
    }
  }

  @media (min-width: 1440px) {
    .description {
      font-size: 1.3rem;
    }
  }

  .text-yellow {
    color: #e1a340;
  }
</style>
