<div class="wrapper">
  <h2 class="title">
    メタ就が就活を成功に導く
    <br />
    <span class="title--big">3つの理由</span>
  </h2>
</div>
<style>
  .title {
    text-align: center;
    font-size: 2.7rem;
  }

  .title--big {
    font-size: 6rem;
    line-height: 1;
    text-shadow:
      0 0 10px rgba(32, 166, 169, 1),
      0 0 20px rgba(32, 166, 169, 1),
      0 0 30px rgba(32, 166, 169, 1);
  }

  /* モバイル: ~768px */
  @media (max-width: 768px) {
    .title {
      font-size: 1.4rem;
    }

    .title--big {
      font-size: 2.8rem;
    }
  }

  /* タブレット: 768px~1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    .title {
      font-size: 2rem;
    }

    .title--big {
      font-size: 4.5rem;
    }
  }
</style>
