<div class="appeal-section--logo-and-overview--container">
  <div class="appeal-section--cta-wrapper">
    <h4 class="appeal-section--speechーbubble">&bsol; 先着150名様限定 &sol;</h4>
    <button
      class="appeal-section--cta-button"
      type="button"
      onclick="location.href='https://liff.line.me/2008080672-5PBV9x90?sl=175889275418875266147423'"
    >
      <div>
        無料でイベントに<br />参加する<br />
        <small>&lt; 簡単30秒LINE登録 &gt;</small>
      </div>
      <span class="appeal-section--cta-arrow">&gt;</span>
    </button>
  </div>
</div>
<style>
  .appeal-section--logo-and-overview--container {
    width: 33%;
  }

  .appeal-section--cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .appeal-section--speechーbubble {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    white-space: nowrap;
  }

  .appeal-section--cta-button {
    display: flex;
    position: relative;
    width: 20rem;
    padding: 1rem 3rem;
    border-radius: 50px;
    border: none;
    background-color: #07c655;
    justify-content: center;
    align-items: center;
    * {
      font-family: sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }
    div {
      font-size: 1.5rem;
      line-height: 1;
    }
  }

  @media (max-width: 1023px) {
    .appeal-section--logo-and-overview--container {
      width: auto;
    }
  }

  .appeal-section--cta-arrow {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
</style>
