---
import { Image } from "astro:assets";
import logo from "../../assets/appeal-section/logo2.png";
---

<div class="appeal-section-logo--container">
  <div class="appeal-section-logo--wrapper">
    <div class="appeal-section-logo--image-wrapper">
      <Image
        class="appeal-section-logo"
        src={logo}
        alt="メタ就"
        width={275}
        height={96}
        loading="lazy"
      />
    </div>
  </div>
</div>

<style>
  .appeal-section-logo--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 33%;
    min-width: 275px;
    height: fit-content;
    flex-shrink: 0;
  }

  .appeal-section-logo--wrapper {
    width: 275px;
    height: fit-content;
    flex-shrink: 0;
  }

  .appeal-section-logo--image-wrapper {
    position: relative;
    width: 275px;
    height: fit-content;
  }

  .appeal-section-logo {
    width: 275px;
    height: auto;
    margin: 5px auto;
    display: block;
  }

  @media (max-width: 768px) {
    .appeal-section-logo--container {
      max-width: 100%;
      align-items: center;
    }

    .appeal-section-logo--wrapper {
      width: 275px;
    }
  }
</style>
