<p class="about-us--message">
  私たちは、<wbr />長年にわたり<wbr />人材事業に<wbr />携わる中で、<br />
  多くの学生が<wbr />さまざまな壁に<wbr />よって<wbr />キャリアの<wbr />可能性を<wbr />狭められている<wbr />現状を<wbr />目の当たりに<wbr />してきました。
  <br />
  <br />
  特に、<wbr />情報や<wbr />機会の面で<wbr />不利になりがちな<wbr />地方の学生が、
  <br />
  金銭的な理由で<wbr />上京を<wbr />諦めたり、<wbr />納得できない<wbr />就職先を<wbr />選んだりする<wbr />現状を<wbr />変えたい。
  <br />
  そんな強い想いから、<wbr />株式会社<wbr />NEWGATEは<wbr />「メタ就」を<wbr />立ち上げました。
  <br />
  <br />
  私たちの目的は、<wbr />目先の利益では<wbr />ありません。
  <br />
  テクノロジーの<wbr />力と、<wbr />一人ひとりに<wbr />寄り添う支援で、
  <br />
  すべての学生が<wbr />「この会社に<wbr />入って<wbr />本当に<wbr />よかった」と<wbr />思える、
  <br />
  ミスマッチの<wbr />ない社会を<wbr />実現する<wbr />ことです。
  <br />
  <br />
  あなたの<wbr />就職活動が、<wbr />未来への<wbr />希望に<wbr />満ちたものに<wbr />なるよう、<wbr />私たちが<wbr />全力で<wbr />サポートします。
</p>
<style>
  .about-us--message {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1;
  }

  @media (max-width: 768px) {
    .about-us--message {
      font-size: 1rem;
      line-height: 1.8;
      padding: 0 1rem;
      word-break: keep-all;
      overflow-wrap: break-word;
    }
  }
</style>
