<table class="about-us--table">
  <tr>
    <th class="about-us--table-header">会社名</th>
    <td class="about-us--table-data">株式会社NEWGATE</td>
  </tr>
  <tr>
    <th class="about-us--table-header">設立</th>
    <td class="about-us--table-data">2013年10月7日</td>
  </tr>
  <tr>
    <th class="about-us--table-header">従業員</th>
    <td class="about-us--table-data">350名</td>
  </tr>
  <tr>
    <th class="about-us--table-header">事業内容</th>
    <td class="about-us--table-data"
      >SES事業・WEB開発事業・職業紹介事業・労働者派遣事業・BPO事業・営業代行事業・M&A事業・保育園事業</td
    >
  </tr>
  <tr>
    <th class="about-us--table-header">公式サイト</th>
    <td class="about-us--table-data"
      ><a class="black" href="https://n-newgate.co.jp"
        >https://n-newgate.co.jp</a
      ></td
    >
  </tr>
</table>
<style>
  .about-us--table {
    margin: 4.5rem auto 0 auto;
    width: 75%;
    max-width: 1200px;
    border-collapse: collapse;
  }

  .about-us--table-header {
    background-color: #b2dedd;
    color: black;
    font-family: sans-serif;
    border-top: 1px solid #45b1b2;
    border-bottom: 1px solid #45b1b2;
    padding: 1.5rem 5rem;
  }

  .about-us--table-data {
    background-color: white;
    color: black;
    font-family: sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 2rem;
  }

  .about-us--table-header,
  .about-us--table-data {
    font-size: 1.2rem;
  }

  .black {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .about-us--table {
      width: 100%;
      margin: 3rem auto 0 auto;
    }

    .about-us--table,
    .about-us--table tbody,
    .about-us--table tr {
      display: block;
    }

    .about-us--table-header {
      display: block;
      padding: 1rem;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
    }

    .about-us--table-data {
      display: block;
      padding: 1rem;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      word-break: break-word;
      font-size: 1.1rem;
    }

    .about-us--table-header {
      font-size: 1rem;
    }
  }
</style>
