---
import { Image } from "astro:assets";
import logo from "../../assets/appeal-section/logo2.png";
---

<div class="logo--container">
  <div class="logo">
    <Image class="appeal-section-logo" src={logo} alt="メタ就" loading="lazy" />
  </div>
</div>

<style>
  .logo--container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .logo {
    margin: 5px 0;
    transform: translateY(-40%);
    font-size: 20px;
    transform-origin: center top;
    width: fit-content;
    position: relative;
  }

  .appeal-section-logo {
    max-width: 495px;
    max-height: 175px;
  }

  @media (max-width: 768px) {
    .logo {
      transform: translateY(-20%) scale(0.75);
    }
  }

  @media (max-width: 480px) {
    .logo {
      transform: translateY(-10%) scale(0.55);
    }
  }
</style>
