<div class="spacer"></div>
<style>
  .spacer {
    height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/hero-section/hero-section__bg.jpeg");
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 768px) {
    .spacer {
      height: 150px;
    }
  }

  @media (max-width: 480px) {
    .spacer {
      height: 100px;
    }
  }
</style>
